<html>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <body>
        <label>Email:</label>
        <input type="text" id="email">
        <button type="button" id="submitBtn">Send Recovery Email</button>
        <div id="sendStatusDiv"></div>
        <div id="env" style="display:none">{{env}}</div>
    </body>
    <script>
        // configure env
        let env = document.getElementById('env').innerHTML
        let host
        function loadEnv() {
            if (env === 'PROD') {
                host = 'https://www.love-button.org/api/'
            } else if (env === 'TEST') {
                host = 'https://www.test.love-button.org/api/'
            } else {
                host = 'http://localhost:8080/api/'
            }
        }

        loadEnv()
        if (env != "DEV" && location.protocol !== "https:") {
    location.protocol = "https:";
}
        $('#submitBtn').click(
            e => {
                $.post({
                    url: `${host}api/recoveryEmail`,
                    data: {email: document.getElementById('email').value.trim()},
                    success: function(res) {
                        document.getElementById('sendStatusDiv').innerHTML = "<p>Email being sent.</p>"
                    },
                    error: function() {
                        alert('Email not found.')
                    }
                })
            }
        )
    </script>
</html>