<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="../js/fundAccount.js"></script>
    </head>
    <body>
        <h1>Fund Your Tipping Account</h1>
        <h4>Send Stellar Lumens to your love-button tipping account</h4>
        <label>Address to send to:</label>
        <input type="text" id="loveButtonPubAddr" value="loading...">
        <label>Memo (REQUIRED):</label>
        <input type="text" id="memo" value="loading...">
        <label>Balance:</label><p id="balance">loading...</p>
        <div id="paymentStatusDiv"></div>
        <div id="accountInfoDiv">
            <p>logged in as: loading...</p> 
        </div>
    </body>
</html>