<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="../js/getLink.js"></script>
	<link rel="shortcut icon" type="image/ico" href="../favicon.ico"/>
	<style>
		.bg-orange {
          background-color: #d21717;
      }
	</style>
	<!-- NEED IN PROD <script>
                if (location.protocol !== "https:") {
                    location.protocol = "https:";
                }
                </script> -->

	<script>

	function copyLoveLink() {
	  /* Get the text field */
	  var copyText = document.getElementById("link1");

	  /* Select the text field */
	  copyText.select();

	  /* Copy the text inside the text field */
	  document.execCommand("copy");

	  /* Alert the copied text */
	  alert("Copied the text: " + copyText.value);
	}

	</script>
</head>
<div class="container-fluid">
	<header class="row pt-4 pb-3 bg-orange">
		<h1 class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4 text-white">Get your link</h1>
	</header>
	<section>
		<div class="row mt-3">
			<p class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4 px-xs-4 px-sm-3 px-md-2 px-lg-1">Paste your Stellar public address (public key) here, in your wallet there will be an option to Receive Payment
				that will expose this address. More instructions <a href="/getStartedCreators">here</a>.
			</p>
		</div>
	</section>

	<section class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4 p-0">
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Your public key:</span>
			</div>
			<input type="text" class="form-control" id="publicKey"placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx">
		</div>
		<div class="input-group input-group-sm mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-sm">Your memo:</span>
				</div>
				<input type="text" class="form-control" id="memo"placeholder="Needed for Coinbase users">
			</div>
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Text to display with your key:</span>
			</div>
			<input type="text" class="form-control" id="name" placeholder="text">
		</div>
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Subscribe to love-button:</span>
			</div>
			<input type="email" class="form-control" id="emailInput"placeholder="you@example.com">
		</div>

		<div class="row">
			<div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6">
				<button type="button" class="btn btn-primary w-100" id="getLinkSubmitBtn">Generate Link</button>
			</div>
		</div>
	</section>
	<section id="copyLinkSection" class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4 p-0" style="display:none">
		<hr>
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<button class="btn btn-secondary" id="inputGroup-sizing-sm" onclick="copyLoveLink()" data-toggle="tooltip" data-placement="top" title="Copy to clipboard">Copy your love-button link</span>
			</div>
			<input type="text" class="form-control" id="link" placeholder="Enter your info and click the button to get your link">
		</div>
		<div class="row">
			<p class="col-xs-12 offset-sm-1 col-sm-10 offset-lg-0 col-xl-12">
				Paste your link anywhere people see your content! </p>
		</div>
	</section>
</div>

</html>
