<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="../js/getLink.js"></script>
	<link rel="shortcut icon" type="image/ico" href="../favicon.ico"/>
	<style>
		.bg-orange {
          background-color: #d21717;
      }
	</style>
	<!-- NEED IN PROD <script>
                if (location.protocol !== "https:") {
                    location.protocol = "https:";
                }
                </script> -->
</head>
<div class="container-fluid">
	<header class="row pt-4 pb-3 bg-orange">
		<h1 class="offset-1 col-10 text-white">Get your link</h1>
	</header>
	<section>
		<div class="row mt-3">
			<p class="offset-1 col-10">Paste your Stellar public address (public key) here, in your wallet there will be an option to Receive Payment 
				that will expose this address. More instructions <a href="/getStartedCreators">here</a>.
			</p>
		</div>
	</section>

	<section class="offset-1 col-10 p-0">
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Your public key:</span>
			</div>
			<input type="text" class="form-control" id="publicKey"placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx">
		</div>
		<div class="input-group input-group-sm mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-sm">Your memo:</span>
				</div>
				<input type="text" class="form-control" id="memo"placeholder="Needed for Coinbase users">
			</div>
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Name or text to display with your key:</span>
			</div>
			<input type="text" class="form-control" id="name" placeholder="name">
		</div>
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">[OPTIONAL] email to get news about love-button:</span>
			</div>
			<input type="email" class="form-control" id="emailInput"placeholder="you@example.com">
		</div>

		<div class="row">
			<button type="button" class="btn btn-primary offset-4 col-4" id="getLinkSubmitBtn">Generate Link</button>
		</div>

		<br>
		<br>
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Your love-button link:</span>
			</div>
			<input type="text" class="form-control" id="link" placeholder="Enter your info and click the button to get your link">
		</div>
		<div class="row">
			<p class="offset-1 col-10">
				Paste your link anywhere people see your content! </p>
		</div>

	</section>
</div>

</html>