<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <script>
            if (location.protocol !== "https:") {
                location.protocol = "https:";
            }
            </script>
    <link rel="shortcut icon" type="image/ico" href="../favicon.ico"/>
    <style>
                .bg-orange {
                    background-color: #d21717;
                }


    </style>
</head>

<body class="container-fluid">
<header class="row pt-4 pb-3 bg-orange">
    <h1 class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 text-white">Get Stellar
        Lumens</h1>
</header>
<div class="row">
    <section class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <div class="row mt-3">
            <p class="col">Getting cryptocurrency can be a bit of a pain the first time but its cool after
                that I promise!</p>
        </div>
        <div class="row">
            <p class="col">There are two main options you can take, with both you will need a Stellar
                wallet, here are
                the ones recommened by Stellar: <a href="https://www.stellar.org/lumens/wallets/">Wallets</a>, I like
                LOBSTRS wallet. The first option is cheaper but takes longer and consists of
                buying Ethereum on Coinbase and then transferring your Ethereum to another crypto exchange, such as
                Binance, where you can buy Stellar Lumens with Ethereum. This process is described here: <a
                        href="https://www.lumenauts.com/tutorials/how-to-buy-lumens-with-us-dollars">Lumenauts</a>
                In this article, when they refer to GDAX they mean Coinbase, the name changed. If you buy with your
                credit
                card you can get Ethereum in a few minutes, but the fee is higher, if you use your bank account the fee
                is
                lower but you have to wait a few days.</p>
        </div>
        <div class="row">
            <p class="col"> The second option is faster but more expensive at small transaction sizes and
                consists of buying Stellar directly using
                StellarX marketplace (under the hood you are buying a stablecoin called AnchorUSD then trading that).
                This is generally easier but their fee is 1% of transaction and 5$ minimum, so you
                have to buy a lot more for it be cheaper than Coinbase. This method has become very popular in the
                Stellar community. Also you have to
                wait a few days for your bank transfer, do that here: <a
                        href="https://www.stellarx.com/signup">StellarX</a>.
            </p>
        </div>
        <div class="row">
            <h5 class="col">However you go about getting your Stellar Lumens, I highly recommend creating
                two accounts in
                your wallet, one where you will store all your assets and then another with only a few dollars at a time
                for tipping. When you're out of tipping money, just move some more over from your main account.
            </h5>
        </div>
        <div class="row">
            <p class="col">This is what love-button links look like: <a
                    href="https://love-button-stellar-app.herokuapp.com/pages/000001">https://love-button-stellar-app.herokuapp.com/pages/000001</a>.
                You'll need your private key from your wallet to send tips through these links.
            </p>
        </div>
    </section>
</div>
</body>

</html>