<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <link rel="shortcut icon" type="image/ico" href="../favicon.ico"/>
    <style>
                .bg-orange {
                    background-color: #d21717;
                }


    </style>
</head>

<body class="container-fluid">
<header class="row pt-4 pb-3 bg-orange">
    <h1 class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 text-white">Get started using love-button!</h1>
</header>
<div class="row">
    <section class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <div class="row mt-3">
            <h4 class="col">This page goes over how to quickly get Stellar Lumens (XLM) and an XLM wallet and then use them to fund your love-button account.</h4>
        </div>
        <div class="row mt-3">
            <h2 class="col">I already have an XLM wallet and know how to use it.</h2>
        </div>
        <div class="row">
            <p class="col"><a href="/signup">Signup</a> for a love-button account then <a href="/fundMyAccount">fund</a> your tipping account.</p>
        </div>
        <div class="row mt-3">
                <h4 class="col">What is cryptocurrency, what is a wallet, what are Stellar Lumens?</h4>
            </div>
            <div class="row">
                <ul class="col"><li>Cryptocurrency is digital money that is created and managed through the use of advanced encryption techniques known as cryptography.</li>
                    <li>Cryptocurrencies have 2 main elements: a public ADDRESS (where money is sent) and a private key to authorize your transactions.</li>
                    <li>Your cryptocurrency WALLET is a software program that securely stores your private keys while giving you the ability to send and recieve money.</li>
                    <li>Stellar is a global multi-currency payment network powered by a cryptocurrency called Lumens (XLM). <a href="stellar.org">Stellar</a> is one of the biggest crypto projects in the world.</li>
                    <li>love-button is built on Stellar because its fast and the virtually non-existent fees make micro-transactions and micro-tipping feasible!</li></ul>
            </div>
            <div class="row mt-3">
                <h2 class="col">How do I get Stellar Lumens (XLM) and start using love-button to support my favorite content creators and projects?</h2>
            </div>
            <div class="row">
                <ol>
                    <li>
                        Download Coinbase app (or use web browser): <a href="coinbaseafflink">Coinbase</a><sup><a href="#affliate">1</a></sup>. This will be your wallet!
                    </li>
                    <li>
                        Make account, use a strong password and two-factor authentication!
                    </li>
                    <li>
                        Coinbase will ask you to set up a payment method now. I recommend using your credit card because if you purchase with your bank account you must wait about 12 days 
                        to move your XLM off of Coinbase (ie to love-button). Credit card is instant and the fee difference is neglible for small amounts.
                        You'll want to connect your bank account for big purchases though because the <a href="https://support.coinbase.com/customer/en/portal/articles/2109597-coinbase-pricing-fees-disclosures">fees</a> are smaller.
                    </li>
                    <li>
                        On the main Coinbase dashboard or the "Prices" or "Accounts" views, select "Stellar Lumens (XLM)". Then Click "Trade" to buy some XLM! Welcome to the world of cryptocurrencies!
                    </li>
                    <li>
                        Now that you have XLM and a wallet, you should make a love-button <a href="/signup">account!</a>
                    </li>
                    <li>
                        After signing up, navigate to <a href="/fundMyAccount">Fund your tipping account</a>.
                    </li>
                    <li>
                        On this page you will see the XLM public address for love-button and a memo that links the XLM you send with your tipping account. 
                        You need BOTH!
                    </li>
                    <li>
                        Back in Coinbase, navigate to the "Accounts" view and scroll to your "XLM Wallet" (mobile and web both). On the web click "Send", in the mobile app 
                        click on "XLM Wallet" and then press the arrow icon in the top right corner of the screen.
                    </li>
                    <li>
                        Copy and paste the ADDRESS and MEMO from the "Fund your tipping account" page into this form in their respective positions.
                    </li>
                    <li>
                        <h4>BE WARNED, love-button is in active development! Do not transfer more money into your tipping account than 
                            you are willing to LOSE!
                        </h4>I recommend only 5-10$ worth of XLM, you can tip very small amounts if you wish. That all being said I'm taking every precaution 
                        to keep your money safe!
                    </li>
                    <li>
                        Press "Continue" and confirm your transfer. Then on the "Fund your tipping account" page wait for your balance to be updated.
                    </li>
                    <li>
                        Now your account is funded! If you have any issues you can check out these 2 minute screencasts that demonstrate all these steps: 
                        <a href="mobilevideolink">mobile</a>, <a href="webvideolink">web</a> and you can email me at chris@love-button.org and I'll help you.
                    </li>
                </ol>
            </div>
        <div class="row">
            <a class="col" name="affliate"><sub>1. This is an affliate link, if you follow it then spend money on Coinbase I get a tiny referral fee. You don't need to use that link but you should use Coinbase either way!</sub></a>
        </div>
    </section>
</div>
<div id="env" style="display:none">{{env}}</div>
</body>
<script>
    // configure env
    let env = document.getElementById('env').innerHTML
    if (env != "DEV" && location.protocol !== "https:") {
        location.protocol = "https:";
    }
                </script>
</html>