<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <link rel="shortcut icon" type="image/ico" href="../favicon.ico"/>
    <style>
        .bg-orange {
            background-color: #d21717;
        }

    </style>
</head>

<body class="container-fluid">
<header class="row pt-4 pb-3 bg-orange">
    <h1 class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 text-white">Getting Started Page - Content Creators</h1>
</header>
<div class="row">
    <section class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <div class="row mt-3">
            <h3 class="col">Why am I on this page?</h3>
        </div>
        <div class="row">
            <p class="col">To make a love-button link that your fans can use to send you tips of any size with no 
                transaction fees using a cryptocurrency called Stellar Lumens (from now on referred to as XLM).
            </p>
        </div>
        <div class="row mt-3">
                <h3 class="col">Why would I want that? There are lots of ways to monetize my content already!</h3>
            </div>
            <div class="row">
                <p class="col">love-button is a complement to all the existing ways you can monetize your content online, specifically targeting TWO distinct 
                    segments of your fans/viewers/readers!</p><ul> <li>Group 1: The overlap of fans who will never turn off adblockers, 
                    never sign up for a paid subscription, and never buy your overpriced merch ;)</li>
                <li>Group 2: People who stumble upon one specific thing you made, loved it, but are 
                    unlikely to engage with you more (ie become a full fan/follower).</li>
                </ul><p class="col">For fans in the first group, being able to send small tips to support you without a commitment is ideal. 
                    Example of the second group: I want to learn how 
                    to code something, I search for it on Youtube, find a phenomenal 10-minute video that teaches me everything I was 
                    hoping to learn; I may never see their channel again but this video was more valuable to me than just "pressing like"! 
                    So I can send a tiny token of gratitude (a few cents even)
                    to the creator with love-button!! And this few cents may be more than the creator would have got if I clicked an ad anyway.
                    Due to high transaction fees, this would be infeasible with a credit card.
                    <strong>I have been in both of these groups many times, so I decided to make this :D</strong>
                </p>
            </div>
        <div class="row mt-3">
            <h2 class="col">I already have an XLM wallet and know how to use it.</h2>
        </div>
        <div class="row">
            <p class="col"><a href="/get-my-link">GET YOUR LINK</a> and post it wherever fans see your
                content!</p>
        </div>
        <div class="row">
            <h4 class="col">What are Stellar Lumens?</h4>
        </div>
        <div class="row">
            <p class="col">Stellar is a global multi-currency payment network built using blockchain technology and powered by a cryptocurrency called Lumens (XLM).
                    It is one of the ten biggest cryptocurrency projects in the world by market capitalization.
                    This technology has a wide range of applications throughout financial services, learn more about the project here: <a href="https://www.stellar.org">Stellar</a>. 
                    love-button project uses XLM because its fast and the virtually non-existent fees make micro-transactions and micro-tipping feasible!
        </div>

        <div class="row">
            <h2 class="col">How do I accept tips with love-button?</h2>
        </div>
        <div class="row">
            <p class="col">This part is very easy!! I recommend using Coinbase as your wallet: affliate link. Their app is very easy to use 
                and when you want to transfer your earnings back into USD, EUR, etc, their built-in exchange (all you have to do is click SELL) is by far the easiest way to do this.</p>
        </div>
        <!-- <div class="row">
            <p class="col">You can watch a 2 minute screencast of this whole process if anything is
                confusing to you: <a href="https://youtu.be/QYxyooToC2k">Getting love-button link</a></p>
        </div> -->
        <div class="row">
            <h4 class="col">Steps to setup your love-button:</h4>
        </div>
        <div class="row">
            <ol>
                <li>
                    Download Coinbase app (or use web browser): <a href="coinbaseafflink">Coinbase</a><sup><a href="#affliate">1</a></sup>. This will be your wallet!
                </li>
                <li>
                    Make account, use a strong password and setup two-factor authentication.
                </li>
                <li>
                    In app: Go to Accounts, and then "XLM Wallet"
                </li>
                <li>
                    You don't need to buy anything, on top right corner, there are two icons. The arrow is to SEND XLM, the qr-code (square with pieces missing) is to RECIEVE XLM, click this one!
                </li>
                <li>
                    Click "I understand".
                </li>
                <li>
                    In <a href="/get-my-link">GET MY LINK</a>, "Wallet address" in your wallet (Coinbase) maps to "Wallet address" in the "Get my link" page and "XLM Memo id" maps to "XLM Memo id".
                </li>
                <li>
                    Along with your wallet information (DOUBLE-CHECK THIS!!!!), add a name and optional description to personalize your love-button link. Press Submit!
                </li>
                <li>
                    You're good to go, your link is live! Paste the generated link anywhere your fans engage with your content!
                </li>
            </ol>
        <p class="col">BONUS: Your link will look something like this: love-button.org/give/34253421, if you would like a personalized link 
            (Example: love-button.org/give/YOUR_NAME_HERE) then you can buy one for 10USD here: <a href="/get-my-link/premium">Premium link</a>. 
        <strong>Send me an email at chris@love-button.org, I'll make you one for free!! Make sure you include all the information required on the "Get my link" page.</strong></p>
        </div>
        <div class="row">
                <h4 class="col">Confused about anything??</h4>
        </div>
        <div class="row">
            <p class="col">Watch one of these two-minute screencasts that take you thru this whole process: LINK, LINK.</p>
        </div>
        <br>
        <div class="row">
                <h2 class="col"><a href="/get-my-link">Get your link here!</a></h2>
        </div>
        </div>
        <div class="row">
                <a class="col" name="affliate"><sub>1. This is an affliate link, if you follow it then spend money on Coinbase I get a tiny referral fee. You don't need to use that link but you should use Coinbase either way!</sub></a>
        </div>
    </section>
</div>
<div id="env" style="display:none">{{env}}</div>
</body>
<script>
    // configure env
    let env = document.getElementById('env').innerHTML
    if (env != "DEV" && location.protocol !== "https:") {
        location.protocol = "https:";
    }
                </script>
</html>