<html>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <body>
        <p id="token">{{token}}</p>
        <form id="arform">
            <label>New Password:</label>
            <input id="newPassword" type="password">
            <label>Confirm Password:</label>
            <input id="confirmPassword" type="password">
            <button type="submit">Reset</button>
        </form>
    </body>
<script>
     let host = 'https://www.love-button.org/'
    // let host = 'http://localhost:8080/'

    function confirmPassword(candidate, dup) {
        return candidate === dup
    }

    
    $(document).ready(function() {
        $("#arform").submit(
            (event) => {
                event.preventDefault()
                const candidate = document.getElementById('newPassword').value
                const dup = document.getElementById('confirmPassword').value
                console.log(candidate)
                if (confirmPassword(candidate, dup)) {
                    $.post({
                        url: `${host}api/recover`,
                        data: {token: document.getElementById('token').innerText, password: candidate},
                        success: function() {
                            alert('Success, now log back in.')
                            window.location.replace('/login')
                        },
                        error: function() {
                            alert('Reset failed, maybe email me?')
                        }
                    })
                }
            }
        )
    })
</script>
</html>