<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
    <link rel="shortcut icon" type="image/ico" href="../favicon.ico"/>
    <style>
		.bg-love {
			background-color: #d21717;
		}

        .navLink {
            color: white;
            text-decoration: none
        }

        .navLink:hover {
            color: white;
        }

    </style>
</head>

<body class="container-fluid">
<header class="row bg-love mb-3">
    <div class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 text-white">
        <div class="row">
            <h1 class="col-12">love-button</h1>
        </div>
        <section class="row">
            <h5 class="col-12">
                <a class="navLink" href="/about">about</a> &bull; 
                <a class="navLink" href="/get-my-link">get my link</a> &bull; 
                <a class="navLink" href="/fundMyAccount">fund account</a> &bull; 
                <a class="navLink" href="/account">my account</a> &bull;
                <a class="navLink" href="/contact">contact</a>
            </h5>
        </section>
    </div>
</header>
<div class="row">
    <section class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 ">
        <div class="row">
            <h3 id="nameOrText" class="col-12">Sending money to {{name}}</h3>
        </div>
        <div class="row">
            <p id="description" class="col-12">{{description}}</p>
        </div>
        <!--TODO: these should not be sent to the input. sessionStorage is one solution. need to figure out-->
        <p id="destKey" class="d-none">{{key}}</p>
        <p id="memo" class="d-none">{{memo}}</p>
        <div class="row mb-2">
            <div class="col"><span id="xlmPrice">loading...</span></div>
        </div>
        <div class="row mb-2">
            <div class="col">Your current balance is: <span id="curBal">loading... </span></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Currency</span>
                        <select class="custom-select" id="selectedCurrency">
                            <option value="xlm" selected>XLM(Stellar Lumens)</option>
                            <option value="usd">USD (converted to XLM)</option>
                        </select>
                    </div>
                    <input id="amount" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                           placeholder="Payment amount">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <button type="button" id="sendPaymentBtn" class="btn btn-success float-right" >Send Payment</button>
                <button type="button" id="defaultBtn" class="btn btn-secondary">Send Default (N xlm)</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div id="paymentStatusDiv" class="col-12"></div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" id="optionsBtn" class="btn btn-secondary">Show Options</button>
            </div>      
        </div>
    </section>

    <section id="optionsDiv" class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6"
             style="display:none;">
        <hr>
        <div class="row">
            <h4 class="col">Options</h4>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="defaultAmt">Set a default amount to send to creators.</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Currency</span>
                        <select class="custom-select" id="selectedCurrencyDefault">
                            <option value="xlm" selected>XLM(Stellar Lumens)</option>
                            <option value="usd">USD (converted to XLM)</option>
                        </select>
                    </div>
                    <input id="defaultAmt" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                           placeholder="amount">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button id="saveDefaultsBtn" type="button" class="btn btn-secondary float-right">Set Default</button>
            </div>
            <div class="col">
                <button id="clearDefaultBtn" type="button" class="btn btn-secondary">Remove Default</button>
            </div>
        </div>
    </section>

    <section class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <hr>
        <div id="accountInfoDiv" class="row">
            <p class="col-12" style="text-align: center">Logged in as: loading...</p>
        </div>
    </section>
    
</div>
<div id="env" style="display:none">{{env}}</div> 
</body>
<script src="../js/index.js"></script>

</html>
