<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>
    // let host = 'https://www.love-button.org/'
    let host = 'http://localhost:8080/'

    function confirmPassword(candidate, dup) {
        return candidate === dup
    }

    $(document).ready(function() {
        $("#signupForm").submit(
            (event) => {
                event.preventDefault()
                const candidate = document.getElementById('password').value
                const dup = document.getElementById('confirmPassword').value
                if (confirmPassword(candidate, dup)) {
                    $.post({
                        url: `${host}auth/signup`,
                        data: {username: document.getElementById('username').value.trim(), password: candidate, email: document.getElementById('email').value.trim()},
                        success: function(res) {
                            localStorage.setItem('loveButtonAuthToken', res.token)
                            window.location.replace(`${host}fundMyAccount`)
                        },
                        error: function(res) {
                            console.log(res)
                            alert('Please check password')
                        }
                    })
                } else {
                    alert('Passwords don\'t match')
                }
            }
        )
    })

    </script>
    <style>
        .bg-orange {
            background-color: #d21717;
        }
    </style>
</head>
<body class="container-fluid">
<header class="row bg-orange">
    <h1 class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 text-white">love-button</h1>
</header>
<div class="row">
    <h3 class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">Sign up</h3>
</div>
<section class="row">
    <form id="signupForm" class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
</section>


<!-- maybe captcha here? -->
</body>