<html>
    <h1>
        love-button
    </h1>
    <p>
        Hi! This is the landing page for test-love-button.herokuapp.com which is the associated test version of 
        the love-button app. If you want to read about love-button and its features go here: 
        <a href="https://love-button.org/about">production</a>.
        All the features of the app are the same here EXCEPT all Stellar Lumens 
        transactions take place on the stellar testnet (so you can use fake money to try it out).
    </p>
    <ul>
        <li>
            Make a stellar test account (fake money): <a href="https://www.stellar.org/laboratory/#account-creator?network=test">Stellar laboratory</a>
        </li>
        <li>
            Get started for content creators: <a href="https://test-love-button.herokuapp.com/getStartedCreators">Creators</a>
        </li>
        <li>
            Get started for fans/supporters: <a href="https://test-love-button.herokuapp.com/getStellarLumens">Supporters</a>
        </li>
    </ul>
</html>